
body {
	margin-left: 10%;

}

#soundboard {
	display: none;
	height: 200px;
	width: 20em;
	border: 2px dotted black;
	padding: ;
	text-align: center;
	background-color: snow;
}



#soundboard.active {
    display:block;
}