body {
	font-family: sans-serif;	
}

header {
	text-align: center;
	font-family: 'Archivo Black', sans-serif;
	color: #4B4C4D;
}

body h2 {
	font-family: 'Archivo Black', sans-serif;
	color: #4B4C4D;
}

.sub_title {
	text-align: center;

}

section {
	display: ;
	margin-left: 10%;
}
section h2 {
	margin-left: -10%;
	text-align: center;
}
section h2:hover{
	cursor: pointer;
	color: #005FED;
}

#soundboard {
	display: none ;
	height: 100%;
	width: 80%;
	padding: ;
	text-align: center;
	background-color: ;
	margin-bottom: 20px;
	margin-left: 8%; 
}

#soundboard.active {
   display: block;
}

#soundboard button {
	margin: 1%; 
}

.soundboard_container {
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 0;
}

li {
	list-style: none;
}

.comments_section {
	margin: 50px;
}

.comments_section li {
	background-color: #E1E1E1;
	margin-bottom: 10px;
	width: 40em;
	margin-left: 20%;
	padding: 10px 20px;
}

.comments_container  {
	height: 400px;
	overflow: auto;
}

span {
	color: #005FED	;
}

.form_div {
	margin-left: 30%;
}

input {
  display: block;
  width: 12em;
  font-size: 15px; 
}

textarea {
	width: 20em;
	height: 200px;
	font-size: 18px;
	resize: none
}

button {
	border-radius: 0;
	width: 10em;
	height: 35px;
	margin-top: 10px;
	margin-left: 12em;
	border-radius: 3px;
	background-color: #F2F2F2;
	font-weight: bolder;
}

button:hover {
	cursor: pointer;
}

footer a {
	text-decoration: none;
	color: black;
	/*margin-left: 5%;*/
}

footer a:hover {
	color: #005FED;
}

footer li {
	display: ;
	padding-bottom: 30px;
}

footer {
	height: 100px;
}

/*Media Queries*/

@media (max-width: 700px) {    /*iPhone 6 Portrait*/
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}

} /*end of media query max-width 700px*/

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}


/* iPhone 4. Comma can be used to apply same rules to multiple media queries. */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
	button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
		button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}

}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
		button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
		button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 
		button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}
}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 
		button {
		border-radius: 0;
		width: 27em;
		height: 50px;
		margin-top: 10px;
		margin-left: 0em;
		border-radius: 3px;
		background-color: #F2F2F2;
		font-weight: bolder;
		font-size: 25px;
	}

	.form_div {
		margin-left: 15%;
	}

	.form_div button {
		margin-left: 10%;
		width: 25em;
		font-size: 20px;
	}

}


















